<div class="card">
    <span *ngIf="fpSubmitted === FPSubmitted.None">
        <h4 class="card-header">Forgot your password?</h4>
        <div class="card-body">        
            <i>Enter your email address and we'll send you a reset code.</i>
            <p></p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && email?.errors }" />
                    <div *ngIf="submitted && email?.errors" class="invalid-feedback">
                        <div *ngIf="email?.hasError('required')">Email is required</div>
                    </div>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Send Reset Code
                    </button>
                </div>
            </form>
        </div>
    </span>
    <span *ngIf="fpSubmitted === FPSubmitted.Email">
        <h4 class="card-header">Enter reset code</h4>
        <div class="card-body">        
            <i>A reset code was emailed to you.  Please enter it below:</i>
            <p></p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Reset Code</label>
                    <input type="text" formControlName="resetCodeInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && resetCodeInput?.errors }" />
                    <div *ngIf="submitted && resetCodeInput?.errors" class="invalid-feedback">
                        <div *ngIf="resetCodeInput?.hasError('required')">Reset Code is required</div>
                        <div *ngIf="resetCodeInput?.hasError('minlength') || resetCodeInput?.hasError('maxlength')">Reset Code must be 6 characters</div>
                    </div>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Validate Reset Code
                    </button>
                </div>
            </form>
        </div>
    </span>
    <span *ngIf="fpSubmitted === FPSubmitted.ResetCode">
        <h4 class="card-header">Update password</h4>
        <div class="card-body">        
            <i>Please update your password below:</i>
            <p></p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && password?.errors }" />
                    <div *ngIf="submitted && password?.errors" class="invalid-feedback">
                        <div *ngIf="password?.hasError('required')">Password is required</div>
                        <div *ngIf="password?.hasError('minlength')">Password must be at least 6 characters</div>
                        <div *ngIf="password?.hasError('maxlength')">Password must be no longer than 100 characters</div>
                        <div *ngIf="password?.hasError('pattern')">Password must contain at least one upper case and lower case letter, one number and one special character.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && (confirmPassword?.invalid || form.errors?.['passwordMismatch']) }" />
                    <div *ngIf="submitted && confirmPassword?.invalid" class="invalid-feedback">
                        <div *ngIf="confirmPassword?.hasError('required')">Confirm Password is required</div>
                    </div>
                    <div *ngIf="form.errors?.['passwordMismatch']" class="invalid-feedback">
                        <div>Passwords do not match</div>
                    </div>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Update Password
                    </button>
                </div>
            </form>
        </div>
    </span>
</div>