<div class="text-center my-2">
    <h6 class="display-6 mb-3">Welcome to Learning To Hunt!</h6>
    <p class="lead">
        A great place to learn the hunt!
    </p>    
</div>
<div>
    <p>
        There are many great places on the web with hordes of information on hunting.  
        But how do you get started?  What is the first step?  Our focus at LearningToHunt
        is to help you get started from the ground up.
    </p>
    <p>
        Start off with our step-by-step <a href="hunting-guide">hunting guide</a>.  This covers
        the basics on how to obtain a hunting license, learning the hunting laws, where to hunt, 
        what gear you need, and a whole lot more.
    </p>
</div>

